*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    outline: none;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color:#777777;
    background: #4682B4;
}

.der{
    text-align: right;
}

.img_drive img{
    width: 16px !important;
    height: 16px !important;
    cursor: auto !important;
}

/***************************CABECERA************************************************/
#header{
    min-height: 100px;
    height: 20%;
    background: url("/img/pedido.jpg") 0 -50px no-repeat;
}

#header > h1{
    font-size: 58px;
    color: #ffffff;
    margin-left: 15px;
    padding-top: 30px;
}

#header a{
    color: #ffffff;
}

/**********************NAVEGACION****************************************************/
#nav{
    height: 30px;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    text-align: right;
}

#nav img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/*****************************CUERPO*************************************************/
#cuerpo{
    margin-left: 200px;
    height: 70%;
}

/*****************************CONTENIDO**********************************************/
#contenido{
    width: 96%;
    min-height: 100%;
    float: right;
    padding: 2%;
    background: #ffffff;
}

#contenido img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#contenido td a{
    color: #000000;
}

#contenido td a:hover{
    font-weight: bold;
}

#contenido table{
    min-width: 600px;
    width: 95%;
    margin: 20px;
    text-align: left;
    border-collapse: collapse;
    overflow:hidden;
    table-layout:fixed;
}

#contenido td, #contenido th {
    padding: 10px 5px;
    border-bottom: 1px solid #cccccc;
}

#contenido .semaforo{
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-left: 6px;
}

#contenido .estado0{
    background-color: #cccccc;
}

#contenido .estado1{
    background-color: #FF8C00;
}

#contenido .estado2{
    background-color: #008000;
}

#contenido .estado-1{
    background-color: #ff0000;
}


/*********************************PANEL*********************************************/
#panel{
    width: 180px;
    float: left;
    margin-left: -200px;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
}

#panel ul{
    padding:20px;
}

#panel ul li{
    margin: 20px 0;
}

#panel ul li a{
    color: #ffffff;
}

#panel ul li a:hover{
    margin-left: 10px;
}

#panel ul li a img{
    width: 30px;
    margin-right: 5px;
    float: left;
}

/******************************CLEAR************************************************/
#clear{
    clear: both;
    height: 1px;
}

/**************************FOOTER***************************************************/
#footer{
    height: 4%;
    min-height: 30px;
    width: 100%;
    text-align: center;
    background-color: #333333;
    position: fixed;
    bottom: 0px;
}
#footer span{
    display: inline-block;
    margin-top: 5px;
    color:#ffffff;
}

/*******************************MODAL**********************************************/

#modal{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#999999;
	opacity:0.8;
}

#ventana{
	position:fixed;
    top:50px;
    left:50%;
    width:400px;
    height:300px;
    padding:20px;
    margin-left:-200px;
    border:1px solid #000000;
    background-color:#ffffff;
	border-radius:5px;
}

#ventana img{
	float:right;
	width:30px;
	cursor:pointer;
}

#ventana2{
	position:fixed;
    top:50px;
    left:50%;
    width:800px;
    height:400px;
    padding:20px;
    margin-left:-400px;
    border:1px solid #000000;
    background-color:#ffffff;
    overflow: scroll;
	border-radius:5px;
}

#ventana2 img{
	float:right;
	width:30px;
	cursor:pointer;
}

#ventana2 table{
    border-collapse: collapse;
}

#ventana2 td{
    padding: 2px 5px;
    border: 1px solid #000;
}
